!!! utf-8
%html
  %head
    %title FREIBIER!
    
    %meta{charset: "utf-8"}
    %meta{name: "description", content: "Freibier!"}
    %meta{name: "author", content: "Peter Schröder"}
    %meta{name: "language", content: "german, de"}
    %meta{'http-equiv' => "refresh", content: "60; URL=/"}
    
    %link{rel: 'stylesheet', href: '/css/application.css', type: 'text/css'}
    
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", type: "text/javascript"}
    %script{src: "/js/application.js?#{Time.now.to_i}", type: "text/javascript"}

  %body
    %header
      %h1 FREIBIER!
      #tweets
        %ul
          - @tweets.each_with_index do |tweet, index|
            %li{class: index == 0 ? '' : 'hidden', title: 'unused', 'data-tweet' => tweet}
              %p.small
                %em= "#{tweet.from_user} zwitschert:"
              %br
              %a{href: "http://twitter.com/#{tweet.from_user}"}= tweet.text
